<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TEC DASHBOARD</title>

    <!-- styles -->
    <!-- <link rel="stylesheet" href="/static/css/normalize.css" /> -->
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    {% block content %} {% endblock content %}

    <!-- jQuery -->
    <script src="/static/js/jQuery.js"></script>
    <script src="/static/js/script.js"></script>
  </body>
</html>
