{% extends "base.html" %} {% block content %}

<div class="card-wrapper">
  <div class="card">
    <h1 class="center">Create your Account</h1>

    <form name="signup_form" action="/signup/">
      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        class="field"
        id="name"
        value="testName"
        required
      />

      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        class="field"
        id="email"
        value="testemail@email.com"
        required
      />

      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        class="field"
        id="password"
        value="testpassword"
        required
      />

      <p class="error error--hidden"></p>

      <input type="submit" value="Sign Up" class="btn" />
    </form>
  </div>
</div>

{% endblock content %}
